<form [formGroup]="myForm">
  <div class="row mb-3">
      <label for="apartNum" class="col-sm-2 col-col-sm-2 col-form-label">Apartment Number: </label>
      <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="apartmentNB" />
      <div *ngIf="apartNum?.touched && apartNum?.invalid" class=" alert alert-danger">
          <div *ngIf="apartNum?.errors?.['required']" >
              Required field
            </div>
            <div *ngIf="apartNum?.errors?.['pattern']" >
              Champ doit être des chiffres
            </div>
        </div>
  </div>
  </div>

    <div class="row mb-3">
      <label for="floorNum" class="col-sm-2 col-form-label">Floor Number: </label>
      <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="floorNB"  />
      <div *ngIf="floorNum!.touched && floorNum!.invalid" class="alert alert-danger">
          Required field
        </div>
  </div>

    </div>

    <div class="row mb-3">
      <label for="surface" class="col-sm-2 col-form-label">Surface: </label>
      <div class="col-sm-10">
      <input type="number" class="form-control" name="surface" id="surface" formControlName="surface" />
      <div *ngIf="surface!.touched && surface!.invalid" class="alert alert-danger">
          Required field
        </div>
        </div>
    </div>

    <div class="row mb-3">
      <label for="terrace" class="col-sm-2 col-form-label"> Terrace: </label>
      <div class="col-sm-10">
      <div class="form-check">
          <input type="radio" class="form-check-input" name="terrace" formControlName="terrace" id="terrace" value="yes" />
          <label class="form-check-label" for="terrace">
              Yes
            </label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" formControlName="terrace" name="terrace" id="terrace" value="no" />
              <label class="form-check-label" for="terrace">
                  No
                </label>
                </div>
      <div *ngIf="terrace!.touched && terrace!.invalid" class="alert alert-danger">
          Required field
        </div>
        </div>
    </div>
    <div class="row mb-3">
      <label for="surfaceTerrace" class="col-sm-2 col-form-label">Surface Terrace: </label>
      <div class="col-sm-10">
      <input type="number" class="form-control" name="surfaceTerrace" id="surfaceTerrace" formControlName="surfaceTerrace" />
      <div *ngIf="surfaceTerrace!.touched && surfaceTerrace!.invalid" class=" alert alert-danger">
          Required field
        </div>
        </div>
  </div>
    <div class="row mb-3">
      <label for="category" class="col-sm-2 col-form-label">Category: </label>
      <div class="col-sm-10">
      <div class="form-check">
      <input type="radio" class="form-check-input" name="category" id="category" value="S+1" formControlName="category"  />
      <label class="form-check-label" for="category">
          S+1
        </label>
        </div>
        <div class="form-check">
      <input type="radio" class="form-check-input" name="category" id="category" value="S+2" formControlName="category" />
      <label class="form-check-label" for="category">
          S+2
        </label>
        </div>
        <div class="form-check">
      <input type="radio" class="form-check-input" name="category" id="category" value="S+3" formControlName="category" />
      <label class="form-check-label" for="category">
          S+3
        </label>
        </div>
      <div *ngIf="category!.touched && category!.invalid" class=" alert alert-danger">
          Required field
        </div>
        </div>
    </div>
    <div class="row mb-3">
      <label for="description" class="col-sm-2 col-form-label">Description: </label>
      <div class="col-sm-10">
      <textarea  name="description" class="form-control" id="description" formControlName="description"></textarea>
      <div *ngIf="description?.touched && description?.invalid" class=" alert alert-danger">
          <div *ngIf="description?.errors?.['required']" class="alert alert-danger">
              Required field
            </div>
            <div *ngIf="description?.errors?.['minlength']" class="alert-danger">
              Minimum 10 caracters
            </div>
        </div>
        </div>
    </div>
    <div class="row mb-3">
      <label for="residence" class="col-sm-2 col-form-label">Residence: </label>
      <div class="col-sm-10">
      <select  class="form-select" name="residence" id="residence" formControlName="residence">
          <option selected>Open this select menu</option>
          <option *ngFor="let r of listResidences" [value]="r.id">{{r.name}}</option>

          </select>
      <div *ngIf="residence?.touched && residence?.invalid" class="alert alert-danger">
          Required field
        </div>
        </div>
    </div>
    <div class="mb-3">
      <input type="submit" class="btn btn-primary" [disabled]="myForm.invalid" value="Add" />
    </div>

</form>
    <!----
<form [formGroup]="myForm" (submit)="add()">
<label>Apartment Number</label>
<input type="text" formControlName="apartmentNB">
<div *ngIf="myForm.get('apartmentNB')?.invalid && myForm.get('apartmentNB')?.touched ">
  <div *ngIf="myForm.get('apartmentNB')?.errors?.['required']" >  Champ obligatoire </div>
  <div *ngIf="myForm.get('apartmentNB')?.errors?.['pattern']">  Le champ ne doit contenir que des chiffres </div>
</div>
touched : {{ myForm.get('apartmentNB')?.touched }}
untouched : {{myForm.get('apartmentNB')?.untouched}}
dirty : {{myForm.get('apartmentNB')?.dirty}}
pristine : {{myForm.get('apartmentNB')?.pristine}}

<br>
<label>Floor Number</label>
<input type="text" formControlName="floorNB">
<div *ngIf="floor?.invalid">
  Champ invalid
</div>
<input type="submit" value="Add" [disabled]="myForm.invalid">
</form>
---->
