
rechercher par adresse : <input class="input-text" [(ngModel)]="address">
  <div class="card-group">
  <ng-container *ngFor="let r of listResidences">
  <div class="card"  *ngIf="r.address.toLowerCase().includes(address.toLowerCase())">
    <img class="card-img-top"  [src]="r.image" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{r.name}}</h5>
      <p class="card-text" *ngIf="r.status == 'Disponible'"  [style.color]="getColor(r.status)">Disponible ✅</p>
        <p class="card-text" *ngIf="r.status == 'En Construction' " [style.color]="getColor(r.status)">En Construction 🚧</p>
        <p class="card-text" *ngIf="r.status == 'Vendu' " [style.color]="getColor(r.status)">Vendu ❌</p>
      <p class="card-text">
        <button class="btn btn-primary" [routerLink]="['/details',r.id]">details</button>
        <button class="btn btn-secondary" [routerLink]="['details',r.id]">details-children</button>
        <button class="btn btn-light" (click)="getLocation(r)">Show location</button>
        <button class="btn btn-dark" (click)="addFavoris(r)">Add To Favoris</button>
        <button class="btn btn-danger">delete</button>
      </p>
    </div>
    <div *ngIf="showAdress && id==r.id"> {{r.address}} </div>

  </div>
</ng-container>
  </div>
  <h1>Mes favoris</h1>
  <div *ngFor="let r of favoris">
  {{r.id }} - {{ r.name }}
  </div>
<router-outlet></router-outlet>
